# 排除 .vscode 目录
.vscode/

# 可选：常见操作系统和开发环境的忽略规则

# macOS 系统文件
.DS_Store

# Windows 系统文件
Thumbs.db
Desktop.ini

# Node.js 项目
node_modules/
npm-debug.log*

# Python 项目
__pycache__/
*.pyc
*.pyo

# Java 项目
*.class
*.log
*.jar
*.war
*.ear

# 其他通用配置
*.env
.idea/
